<a href="https://colab.research.google.com/github/Pager07/Recommender/blob/master/FinalDatasetGenerator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
from  pathlib import Path
import pandas as pd

In [2]:
drive.mount('/content/gdrive' , force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
root_dir = '/content/gdrive/My Drive/My Notes/3rd year/CCS/RecommenderSystem/Homework'

In [0]:
path = Path(root_dir)

In [0]:
df4 = pd.read_csv(path/'nowplayingRSFiltered.csv')

In [17]:
df4['user_id'][0]

252330820

In [18]:
len(df4.index)

3037321

In [0]:
total_df = df4.groupby(['user_id' ,'sentiment_score']).count()

In [0]:
total_df = total_df.filter(like='hashtag')

In [84]:
total_df.rename(columns={"hashtag":'totalCounts'} , inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [85]:
total_df

                            totalCounts
user_id    sentiment_score
10516      0.6                       26
46963      0.6                        3
61323      0.6                        7
212913     0.6                        7
432093     0.6                        1
...                                 ...
2917583775 0.6                        1
2919818664 0.6                        2
2927413249 0.6                        1
2931157471 0.6                        1
2931814622 0.6                        1

[16121 rows x 1 columns]

In [0]:
count_df = df4.groupby(['user_id' ,'sentiment_score', 'track_id']).count()

In [0]:
count_df = count_df.filter(like='hashtag')

In [91]:
count_df.rename(columns={'hashtag':'count'}, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [102]:
count_df

                                                             count  ...    rating
user_id    sentiment_score track_id                                 ...
10516      0.6             24f8a2ff1ae05c040dc9ade279d1e0ce      1  ...  0.038462
                           28af246d5ebc695d4c1d00ee068d51dd      1  ...  0.038462
                           29e8879e46f489c425df0e182ea7c055      1  ...  0.038462
                           3bb526f1551d9a574cfdf66982b36515      1  ...  0.038462
                           3ff62e21f5d43d7acf2bb96d311f4e13      1  ...  0.038462
...                                                            ...  ...       ...
2919818664 0.6             be007b5eacd7295818a8be9a3af73af8      1  ...  0.500000
                           e30b730c3c65a9c64cce3678d96acb2d      1  ...  0.500000
2927413249 0.6             7e990a8aa257e609955cc93917f9a0db      1  ...  1.000000
2931157471 0.6             b8a3f91b002f98603ab6dd7589fbeb70      1  ...  1.000000
2931814622 0.6             2969342931478408f2e881a73c8557e3      1  ...  1.000000

[261150 rows x 3 columns]

In [0]:
count_df = count_df.join(total_df , on=['user_id' , 'sentiment_score'],how='inner')

In [0]:
count_df['rating'] = count_df['count']/ count_df['totalCounts']

In [0]:
df4 =df4.merge(count_df , on=['user_id' , 'sentiment_score' , 'track_id'] , how='inner')

In [105]:
df4

                            hashtag  sentiment_score  ...  totalCounts    rating
0                        greatmusic              0.8  ...            1  1.000000
1                        greatmusic              0.8  ...            1  1.000000
2                        nowplaying              0.6  ...           29  0.034483
3                        greatmusic              0.8  ...            1  1.000000
4                        rockballad              0.7  ...            3  0.333333
...                             ...              ...  ...          ...       ...
3037316                      ratboy              0.3  ...            1  1.000000
3037317  totallyinlovewiththisvoice              0.8  ...            3  0.333333
3037318                 missthedays              0.3  ...            1  1.000000
3037319                        numb              0.3  ...            1  1.000000
3037320                    warpaint              0.2  ...            1  1.000000

[3037321 rows x 23 columns]

In [0]:
#Make all USA Timezone values consistent
df4['time_zone'].replace('Eastern Time (US & Canada)', 'Eastern Time',inplace=True)
df4['time_zone'].replace('Central Time (US & Canada)', 'Central Time',inplace=True)
df4['time_zone'].replace('Pacific Time (US & Canada)', 'Pacific Time',inplace=True)
df4['time_zone'].replace('Mountain Time (US & Canada)', 'Mountain Time',inplace=True)
df4['time_zone'].replace('Alaska', 'Alaska Time',inplace=True)
df4['time_zone'].replace('Hawaii', 'Hawaii Time',inplace=True)
df4['time_zone'].replace('Arizona', 'Mountain Time',inplace=True)
df4['time_zone'].replace('America/Chicago', 'Central Time',inplace=True)
df4['time_zone'].replace('America/New_York', 'Eastern Time',inplace=True)
df4['time_zone'].replace('America/Los_Angeles', 'Pacific Time',inplace=True)
df4['time_zone'].replace('America/Denver', 'Mountain Time',inplace=True)
df4['time_zone'].replace('America/Detroit', 'Eastern Time',inplace=True)

In [107]:
#Limit dataset to only USA time zones
df4 = df4.loc[~((df4['time_zone'] != 'Eastern Time') & (df4['time_zone'] != 'Central Time') & (df4['time_zone'] != 'Pacific Time') & 
               (df4['time_zone'] != 'Mountain Time') & (df4['time_zone'] != 'Alaska Time') & (df4['time_zone'] != 'Hawaii Time')),:]
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2236319 entries, 0 to 3037320
Data columns (total 23 columns):
hashtag             object
sentiment_score     float64
user_id             int64
track_id            object
created_at          object
instrumentalness    float64
liveness            float64
speechiness         float64
danceability        float64
valence             float64
loudness            float64
tempo               float64
acousticness        float64
energy              float64
mode                int64
key                 float64
artist_id           object
tweet_lang          object
lang                object
time_zone           object
count               int64
totalCounts         int64
rating              float64
dtypes: float64(12), int64(4), object(7)
memory usage: 409.5+ MB

In [0]:
df4 = df4[['user_id','track_id','sentiment_score','rating']]

In [0]:
df4.to_csv(path/'nowplayingFinal.csv')